/*
  Useful styles to complete the ReMarkdown look.
*/

/* Make the Markdown-like markers look cool */
[data-rmd] ::before,
[data-rmd] ::after {
    opacity: .6;
}
[data-rmd] :not(a)::before,
[data-rmd] :not(a)::after {
    color: #08c;
}

/* Our own font-family. Also setting one for code elements */
[data-rmd],
[data-rmd-test] {
    font-family: "Courier Prime Sans", "Fira Mono", monospace;
}
[data-rmd] h1,
[data-rmd] h2,
[data-rmd] h3,
[data-rmd] h4 {
    font-weight: bold;
}
[data-rmd] h1 { font-size: 1.2em; }

[data-rmd] em { font-style: italic; } 
[data-rmd] strong { font-weight: bold; }

/* Avoid losing space to display code examples on small screens */
[data-rmd] pre,
[data-rmd-test] pre {
    white-space: pre-wrap;
}
@media (max-width: 700px) {
    [data-rmd] pre,
    [data-rmd-test] pre {
        margin-left: 0 !important;
    }
}

[data-rmd] table {
    margin: 2.5em 0;
    font-size: 95%;
}

#style-list tr > * {
    white-space: nowrap;
}

/*
  Other page styles, unrelated to ReMarkdown
*/

html {
    background-color: white;
    color: #202020;
    font-size: 100%;
}

body {
    max-width: 660px;
    margin: 30px auto;
    padding: 40px 80px;
}

@media (min-width: 901px) {
    html {
        background-color: #EEE;
    }
    body {
        background-color: white;
        border: 1px solid #DDD;
        box-shadow: 3px 3px 3px -2px #DDD;
    }
}

@media (max-width: 900px) {
    body { margin: 0 auto; }
}

@media (max-width: 700px) {
    body { padding: 30px; }
}

a {
    color: #F02050;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid;
}
a:focus,
a:active {
    color: white;
    background-color: #F02050;
}

pre {
    margin: 1.5em -30px;
    padding: .5em 30px;
    background: rgba(65, 100, 140, 0.1);
    font-size: .85em;
}

:not(pre) code {
    color: rgb(68, 102, 136);
}