<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        <meta name="description" content="{{{description}}}">
        <meta name="author" content="{{{author}}}">
        <link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/remarkdown.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body data-rmd="h1-underline h2-underline ul-star">
        {{{content}}}
    </body>
</html>
