% -*- mode: latex; -*- mustache tags: {{=« »=}}
\documentclass[10pt,twoside,english]{sbabook}
\usepackage{import}
\subimport{latex/}{common}

\begin{document}

\section*{«& title»}

«& content»

\end{document}