% -*- mode: latex; -*- mustache tags: {{=« »=}}
\documentclass[10pt,twoside,english]{../latex/sbabook/sbabook}
\usepackage{import}
\subimport{../latex/}{common}

\begin{document}

\section*{«& title»}

«& content»

\end{document}