% -*- mode: latex; -*- mustache tags: {{=« »=}}
\documentclass[10pt,twoside,article,english]{sbabook}
\usepackage{import}
\subimport{latex/}{common}

\pagestyle{sba-plain}
\counterwithout{section}{chapter}

\begin{document}

\chapter*{«& title»}

«& content»

\end{document}